@tailwind base;
@tailwind components;
@tailwind utilities;

span,
img,
i,
svg {
  display: inline;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.mode-dark {
  color: white;
  background-color: black;
}

.mode-light {
  color: black;
  background-color: aliceblue;
}

